{% extends 'admin/layouts/layout.html' %} {% block title %}Sales{% endblock %}
{% block main_conntent %}

<div id="app1" class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Sales /</span> List
  </h4>
  <div
    v-show="loading"
    style="
      z-index: 999;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8);
    "
  >
    <div class="spinner-border spinner-border-lg text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <!-- Table -->
  <div class="card">
    <!-- <h5 class="card-header">Table Basic</h5> -->
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr v-for="sale in sale_list" :key="sale.sale_id">
            <td><strong>[[ sale.sale_id ]]</strong></td>
            <td>[[sale.customer_id]]</td>
            <td>[[sale.date]]</td>
            <td>
              <span class="badge bg-label-primary me-1">[[sale.price]]</span>
            </td>
            <td>
              <div class="dropdown">
                <button
                  type="button"
                  class="btn p-0 dropdown-toggle hide-arrow"
                  data-bs-toggle="dropdown"
                >
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="bx bx-edit-alt me-1"></i> Edit</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="bx bx-trash me-1"></i> Delete</a
                  >
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Table -->
</div>
<script>
  var app = new Vue({
    el: "#app1",
    delimiters: ["[[", "]]"],
    data: {
      sale_list: [],
      loading: false,
    },
    mounted() {
      this.loading = true;
      axios.get("http://127.0.0.1:5000/api/sale").then((response) => {
        this.sale_list = response.data;
        this.loading = false;
      });
    },
  });
</script>
{% endblock %}
